﻿@model List<ZavenDotNetInterview.App.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create")
<br />
@Html.ActionLink("Process", "Process")
<br />
@Html.ActionLink("Create2", "Create2")

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Created")
        </th>
        <th></th>
    </tr>

    @foreach (var job in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => job.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => job.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => job.Created)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { jobId = job.Id })
    </td>
</tr>
    }

</table>